/* Google Font: Potta One -> https://fonts.google.com/specimen/Potta+One?sidebar.open=true&selection.family=Potta+One */

.general{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PANTALLA Nº 0 'IMAGEN INICIAL Y LOADING */

.contenedorInicio {
    width: 100%;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgInicio {
    background-color: white;
    width: 60em;
    height: 30em;
    background-image: url(/img/inicio.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PANTALLA Nº 1 ''SELECCION DE PERSONAJE'' */

                                /* Header */


.header {
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo {                   /* Titulo de todas las pantallas */
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 75%;
    font-size: 4em;
    font-family: 'Potta One', cursive;
    margin-left: 2em;
}

.iconoSouthPark {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
    background-image: url(/img/titulo.png);
    background-size: cover;
    width: 4em;
    height: 4em;
    margin-left: 4em;

}

/* PANTALLA Nº 1 Main = Seleccion Heroes  */

.seleccionHeroes {
    width: 5em;
    height: 18em;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.cartman, .stan, .kyle, .kenny, .butters, .jimmy{
    margin: 0.4em;
    width: 20em;
    height: 15em;
    text-align: center;
    border: black 0.5em solid;
    border-radius: 1em;
    background-color: wheat;
    font-size: 1em;
    font-family: 'Potta One', cursive;
}

.imgHeroe {
    padding: 2em;
    background-size: cover;
    width: 5em;
}

#Cartman {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}


#Stan {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}

#Kyle {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}

#Kenny {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}

#Butters {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}

#Jimmy {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}

.elegido {                              /* Función: Selección de Personaje */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.aside{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

/* PANTALLA Nº 1  ASIDE - MENSAJE */

#mensaje {
    height: 120px;
    width: 500px;
    background-color: wheat;
    border-radius: 1em;
    border: black 0.3em solid;
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: 'Potta One', cursive;
}


.containerRandy {   
    display: flex;
    justify-content: center;
    margin: 1em;
    margin-right: 2em;
}


/* PANTALLA Nº 2: MAIN - APARECEN PERSONAJES + BOTON DE LUCHA */

.luchar {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 75%;
    font-size: 4em;
    font-family: 'Potta One', cursive;
    margin-left: 3.5em;
    margin-top: 1em;
}

.luchadoresCombate {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.botonPegar {
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.attack {
    background-color: white;
    margin-bottom: 15em;
    width: 8em;
    height: 8em;
    border-radius: 1em;
}


#infoVs {
    height: 120px;
    width: 500px;
    background-color: wheat;
    border-radius: 1em;
    border: black 0.3em solid;
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: 'Potta One', cursive;
}


/* PANTALLA Nº 3 - FINAL */

#nombreGanador {
    font-size: 4em;
    font-family: 'Potta One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#ganador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}


.f5 {
    font-size: 4em;
    font-family: 'Potta One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}


.estiloContrincante {
    background-image: cover;
}