/* Google Font: Potta One -> https://fonts.google.com/specimen/Potta+One?sidebar.open=true&selection.family=Potta+One */

.header {
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
}
.seleccionar {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 75%;
    height: 1em;
    font-size: 8em;
    font-family: 'Potta One', cursive;
    margin-left: 1em;
}

.titulo {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
    background-image: url(/img/titulo.png);
    background-size: cover;
    width: 8em;
    height: 8em;
    margin-left: 4em;

}

.personajes {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}

.heroe {
    margin: 1em;
    padding: 2em;
    border: solid 0.5em black;
    border-radius: 1em;
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: wheat;
}

.imgPersonaje {
    width: 100%;   
}



