/* Google Font: Potta One -> https://fonts.google.com/specimen/Potta+One?sidebar.open=true&selection.family=Potta+One */



/* PANTALLA Nº 1 ''SELECCION DE PERSONAJE'' */

                                /* Header */
.general{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorInicio {
    width: 100%;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgInicio {
    background-color: white;
    width: 60em;
    height: 30em;
    background-image: url(/img/inicio.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header {
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titulo {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 75%;
    font-size: 4em;
    font-family: 'Potta One', cursive;
    margin-left: 1em;
}

.iconoSouthPark {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
    background-image: url(/img/titulo.png);
    background-size: cover;
    width: 4em;
    height: 4em;
    margin-left: 4em;

}

/* PANTALLA Nº 1 Main = Seleccion Heroes  */

.seleccionHeroes {
    width: 5em;
    height: 18em;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.cartman, .stan, .kyle, .kenny, .butters, .jimmy{
    margin: 0.4em;
    width: 20em;
    height: 15em;
    text-align: center;
    border: black 0.5em solid;
    border-radius: 1em;
    background-color: wheat;
    font-size: 1em;
    font-family: 'Potta One', cursive;
}

.imgHeroe {
    padding: 2em;
    background-size: cover;
    width: 5em;
}

#Cartman {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}


#Stan {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}

#Kyle {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}

#Kenny {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}

#Butters {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}

#Jimmy {
    width: 5em;
    padding: 1.7em;
    margin-top: 1em;
}

.elegido {                              /* Función: Selección de Personaje */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.aside{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

/* PANTALLA Nº 1  ASIDE - MENSAJE */

#mensaje {
    height: 120px;
    width: 500px;
    background-color: wheat;
    border-radius: 1em;
    border: black 0.3em solid;
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: 'Potta One', cursive;
}


.containerRandy {   
    display: flex;
    justify-content: center;
    margin: 1em;
    margin-right: 2em;
}



/*.cartmanNombre, .stanNombre, .kyleNombre, .kennyNombre, .buttersNombre, .jimmyNombre {
    margin: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: red;
    height: 10em;
    border: solid 0.5em black;
    border-radius: 1em;  
}


/*.botonPegar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    margin-top: 10em;
}

.attack {
    height: 5em;
    width: 5em;
    background-color: blue;
    margin: 1em;
} */


/* HTML

    <div class="main">
        <div onclick="selectHeroe('cartman')" id="cartman"><img class="heroes" class="elegido" src="img/cartman.png" alt="Cartman"></div>
        <div onclick="selectHeroe('stan')" id="stan"><img class="heroes" class="elegido" src="img/stan.png" alt="Stan"></div>
        <div onclick="selectHeroe('kyle')" id="kyle" ><img class="heroes" class="elegido" src="img/kyle.png" alt="Kyle"></div>
        <div onclick="selectHeroe('kenny')" id="kenny"><img class="heroes" class="elegido" src="img/kenny.png" alt="Kenny"></div>
        <div onclick="selectHeroe('butters')" id="butters"><img class="heroes" class="elegido" src="img/butters.png" alt="Butters"></div>
        <div onclick="selectHeroe('jimmy')" id="jimmy" ><img class="heroes" class="elegido" src="img/jimmy.png" alt="Jimmy"></div>
    </div>

    <div class="botonPegar">
        <div id="strike" class="attack" onclick="atacar()"></div>
    </div>

*/